.top-header .header__icons {
    justify-content: flex-end;
}
.top-header .header-icons ul li a {
    font-size: 16px;
}
header.header {
    border: 0.25px solid #386e9140;
    background: linear-gradient(0deg, #f0faff, #f0faff), rgba(0, 0, 0, 0.3);
    padding: 10px 0;
}
.header-nav ul li a span {
    font-family: "Lato", sans-serif;
}
.header-nav ul li a {
    padding: 0;
}
.header__heading a.header__heading-link,
.top-header {
    padding: 0;
}
.header__inline-menu {
    margin-left: 0;
}
.newsletter-form {
    margin-left: 0 !important;
}
.footer__content-bottom {
    display: none;
}
.footer__copyright p {
    font-size: 16px;
}
.footer-block p, .footer-block__details-content .list-menu__item--link {
    font-size: 16px !important;
    color: #fff !important;
}

h2.footer-block__heading {
    font-size: 22px;
    font-weight: 400;
    padding-top: 29px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
}

.footer-block .footer-block-image p {
    font-size: 16px;
    padding: 15px 55px;
    padding-left: 0;
}
.newsletter-form__field-wrapper button {
    position: absolute;
    right: 0;
    background-color: #105d9f !important;
    padding: 14px 16px;
}